<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.UHF" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>UHF</name><js-module name="UHF" src="www/UHF.js"><clobbers target="cordova.plugins.UHF" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="UHF"><param name="android-package" value="cordova.plugin.UHF.UHF" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/UHF.java" target-dir="src/cordova/plugin/UHF/UHF" /></platform></plugin>